/* Prevent horizontal scrolling */
body, html {
  overflow-x: hidden;
}


/* Ensure the navbar is fixed at the top */
/* .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
} */

/* Add padding to the body or main content */
/* body, .main-content {
  padding-top: 70px; 
} */
/* Apply this to the main container of the page */
/* html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
} */

/* Main content wrapper */
/* .main-content {
  flex: 1; 
  padding: 20px; 
} */

/* Footer styles */
/* .footer {
  background-color: #343a40; 
  color: white; 
  padding: 20px;
  text-align: center;
  margin-top: 10px;
} */

/* Optional: Footer text style */
/* .footer-text {
  font-size: 14px;
  color: #f8f9fa; 
} */

/* .footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
} */

/* General styling for the form */
/* .fitness-goal-form {
  background-color: #f8f9fa; 
  border-radius: 8px; 
  padding: 20px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  max-width: 400px; 
  margin: 20px auto; 
} */

/* Styling for the input fields */
/* .fitness-goal-form input,
.fitness-goal-form select {
  width: 100%; 
  padding: 10px; 
  margin: 10px 0; 
  border: 1px solid #ced4da; 
  border-radius: 4px;
} */

/* Styling for the button */
/* .fitness-goal-form button {
  background-color: #007bff; 
  color: white; 
  padding: 10px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
  transition: background-color 0.3s; 
} */

/* .fitness-goal-form button:hover {
  background-color: #0056b3; 
} */

/* Heading styling */
/* .fitness-goal-form h2 {
  text-align: center; 
  color: #333;
} */

/* #root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

 */
