/* Global styles */



/* @import '~bootstrap/dist/css/bootstrap.min.css'; */


/* .nav-link.active {
  font-weight: bold;
  color: #007bff; /* Bootstrap primary color */
}

/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333; */
} 

/* a {
  text-decoration: none;
  color: inherit;
} */

/* Add more global styles as needed */
